* {
	text-align: center;
}

h1 {
	color: #42f445;
	font-size: 100px;
	font-family: OCR A Std, monospace
}

h2 {
	color: #FF1616;
	font-size: 60px;
}

body {
	background-image: url("https://i1.ytimg.com/vi/U7OUkJuhqzM/hqdefault.jpg")
}

img {
	height: 500px;
	width: 1000px;
}

iframe {
	height: 450px;
	width: 800px;
}